<!DOCTYPE html>
<html {% block html_attrs %}{% endblock html_attrs %}>
<head>
  <title>Sauces Mere — {% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/angular-material/angular-material.css">
  {% block extra_css %}
  {% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>

{% block content %}
{% endblock %}

{% block javascript %}
  <!-- Angular Material Dependencies -->
  <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
  <script src="{{ STATIC_URL }}bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="{{ STATIC_URL }}bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="{{ STATIC_URL }}bower_components/angular-material/angular-material.min.js"></script>

  {% block extra_js %}
  <!-- app-specific controller -->
  <script src="{{ STATIC_URL }}users/js/app.js"></script>
  {% endblock %}
{% endblock %}
</body>
</html>